{# Load the tag library #}
{% load static %}
{# Load CSS and JavaScript #}
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9"> 
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <!-- afficher le nom de l'église si l'utilisateur n'est pas super administrateur -->
          {% if usertype != "superadmin" %}
            <h4 class="brand eglise-name">{{eglisename}}</h4>
          {% endif %}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="height: 50px; position: relative; border: 1px solid orangered; border-radius: 5px; text-align: center;">
          <p style="margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);">
          
            <span id="showProfile" style="cursor: pointer; color: orangered;"><i class='fas fa-user-circle'></i>&nbsp;&nbsp;&nbsp;Mon profil</span>&nbsp;&nbsp;
            <button type="button" data-toggle="modal" data-target="#logoutModal" class="btn btn-lg btn-default" style="border-radius: 50%;"><i style="color:red;" class='fas fa-caret-right'></i></button>
          </p>
        </div>
        <!--<div class="col-md-1 col-sm-4 col-xs-6">
          <button type="button" data-toggle="modal" data-target="#logoutModal" class="btn btn-danger"><i style="color:white" class='fas fa-power-off'></i></button>
        </div>-->
      </div>
    </div>
  </div>
    
  
    <!-- Logout Modal
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Souhaiteriez-vous vraiment vous déconnecter?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Sélectionnez "Déconnecter" en bas si vous êtes prêt à mettre fin à votre session courante.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
            <button class="btn btn-primary" id="disconnect">Déconnecter</button>
          </div>
        </div>
      </div>
    </div> -->
  {% block javascript %}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript"> 
  </script>
  <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script  type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="{% static 'header/header.js' %}"></script>
  
 
  {% endblock%}