/*Profile Card 1*/
.profile-card-1 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #9E005D;
    text-align: center;
    height:368px;
    border:none;
  }
  .profile-card-1 .background {
    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(5px);
    filter: blur(5px);
     -webkit-transform: scale(1.8);
    transform: scale(2.8);
  }
  .profile-card-1 .card-content {
    width: 100%;
    padding: 15px 25px;
    position: absolute;
    color: #a50b46;
    left: 0;
    top: 50%;
  }
  .profile-card-1 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 150px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  .profile-card-1 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:30px;
  }
  .profile-card-1 h2 small {
    display: block;
    font-size: 20px;
    margin-top:10px;
  }
  .profile-card-1 i {
    display: inline-block;
      font-size: 16px;
      color: #ffffff;
      text-align: center;
      border: 1px solid #fff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      margin:0 5px;
  }
  .profile-card-1 .icon-block{
      float:left;
      width:100%;
      margin-top:15px;
  }
  .profile-card-1 .icon-block a{
      text-decoration:none;
  }
  .profile-card-1 i:hover {
    background-color:#fff;
    color:#2E3434;
    text-decoration:none;
  }
  
/* eglisename style */
.eglise-name{
    margin-left: 15px;
    color: #a50b46;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-style: italic;
}
