{% load component_tags %}
{% load bootstrap4 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
<!DOCTYPE html>
<html>
<head>
    <title>Changer mot de passe</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="{% static 'favicon.ico' %}"/>

  {% component_dependencies %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>    <!-- <script  type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTejdM1ezX8mLcfVzdkWoUyJMKZwmI9PA">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <style>
      
        #map {
            width: 100%;
            height: 480px;
        }
        label {
            font-weight: bolder;
            color: rgb(168, 5, 87);
        }
        .help-block{
            color: rgb(168, 116, 5);  
        }
        legend{
            margin-top: 10px;
            padding: 10px;

        margin-bottom: 100px;
          width: 100%;
          color: whitesmoke;
          border-radius: 15px;
          background-image:linear-gradient(180deg,#a50b46 10%,#FBB03B 100%);background-size:cover;
          font-weight: bolder;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="text-align: center;">
        <form style="width: unset;" id="userform" class="form-horizontal">
          {% if not status %}
            <fieldset>            
              <!-- Form Name -->
            <legend>Changement du mot de passe de l'utilisateur {{username}}</legend>
            <div class="alert alert-success" id="success">
                Les mots de passe correspondent!
              </div>
              <div class="alert alert-danger" id="error">
                Les mots de passe ne correspondent pas!
              </div>
              <!-- Text input-->
              <div class="form-group row">
                <label class="col-md-4 control-label" for="password">Mot de passe</label>  
                <div class="col-md-5">
                <input id="password" name="password" type="password" class="form-control input-md" required="">
                <!--<span class="help-block">le nouveau mot de passe</span>  --> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 control-label" for="password">Vérification du mot de passe</label>  
                <div class="col-md-5">
                <input id="repassword" name="repassword" type="password" class="form-control input-md" required="">
                <!--<span class="help-block">à nouveau le mot de passe</span>  --> 
                </div>
              </div>
              <div class="form-group">
            <div class="input-group mb-3">
              <input type="checkbox" name="show" onclick="myFunction()"><p style="color:whitesmoke;">Afficher le mot de passe</p>
            </div>
          </div>
             
              
            <input id="id" name="id" value="{{id}}" hidden >
              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <input type="submit" id="edit" class="btn btn-outline-success" value="Valider la modification"/>
                </div>
              </div> 
              
        
            </fieldset>
          {% else %}
          <br/>
          <br/>
          <br/>
          <fieldset>            

            <legend>Changement du mot de passe d'utilisateur</legend>
            <div class="alert alert-danger" id="error">
              Aucun utilisateur avec cette adresse email <em><b>{{email}}</b></em> ! <button type="button" id="return" class="btn btn-danger" onclick="returnTologin()">Revenir</button>
            </div>
        </fieldset>
          {% endif %}
        </form>
            
        
    </div>
    {% if not status %}
    <script text="text/javascript">
        document.getElementById('error').style.display="none";
        document.getElementById('success').style.display="none";
        function myFunction() {
            var x = document.getElementById("password");
            var y = document.getElementById("repassword");
            if (x.type === "password") {
                x.type = "text";
                y.type = "text";
            } else {
                x.type = "password";
                x.type = "password";
            }
            }
            
        
        
        document.addEventListener('keyup', function(event) {
            let pass = $("#password").val();
            let repass = $("#repassword").val();
            if (pass!="" && repass!="") {
                if (pass==repass) {
                    document.getElementById('error').style.display="none";
                    document.getElementById('success').style.display="block";
                }else{
                    document.getElementById('error').style.display="block";
                    document.getElementById('success').style.display="none";
                }
            }
        });
      function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            if (n['value']!="") {
            indexed_array[n['name']] = n['value'];
          }
        });

        return JSON.stringify(indexed_array);
    }
        $( "#userform" ).submit(function( event ) {
        console.log(getFormData($(this)));
        event.preventDefault();
        let pass = $("#password").val();
        let repass = $("#repassword").val();
        if (pass!=repass) {
            document.getElementById('error').style.display="block";
            document.getElementById('success').style.display="none";
        }else{
            document.getElementById('error').style.display="none";
            document.getElementById('success').style.display="none";
            $.ajax({
                url: 'https://damp-sierra-52116.herokuapp.com/newpassword/',
                type: 'PUT',
                dataType:"text",
                data:getFormData($(this)),
                success: function(response) {
                    location.href="https://damp-sierra-52116.herokuapp.com/dash/"
                }
            });
        }
    });
    </script>
    {% else %}
    <script>
      function returnTologin() {
        location.href="https://damp-sierra-52116.herokuapp.com";
      }
    </script>
    {% endif %}

</body>
</html>
