{% load component_tags %}
{% load bootstrap4 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
<!DOCTYPE html>
<html>
<head>
    <title>{{action}} | Demande de messe</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="{% static 'favicon.ico' %}"/>

  {% component_dependencies %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>    <!-- <script  type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% comment %} <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTejdM1ezX8mLcfVzdkWoUyJMKZwmI9PA">
    </script> {% endcomment %}
    <script type="text/javascript" src="https://cdn.rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.min.js "></script>
    <script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>
    {% if not modification %}
    <style>
      
        #map {
            width: 100%;
            height: 480px;
        }
        label {
            font-weight: bolder;
            color: rgb(168, 5, 87);
        }
        .help-block{
            color: rgb(168, 116, 5);  
        }
        legend{
        margin-top: 10px;
        padding: 10px;

        margin-bottom: 100px;
          width: 100%;
          color: whitesmoke;
          border-radius: 15px;
          background-image:linear-gradient(180deg,#a50b46 10%,#FBB03B 100%);background-size:cover;
          font-weight: bolder;
        }
    </style>
    {% else %}
    <style>
      body{
        background-image:linear-gradient(180deg,#a50b46 10%,#FBB03B 100%);background-size:cover;
      }
      #map {
          width: 100%;
          height: 480px;
      }
      label {
          font-weight: bolder;
          color:whitesmoke
      }
      .help-block{
          color: rgb(252, 196, 77);  
      }
      legend{
        margin-top: 10px;
        padding: 10px;

        margin-bottom: 100px;
        width: 100%;
        background-color: whitesmoke;
        border-radius: 15px;
        color: rgb(168, 5, 87);
        font-weight: bolder;
      }
      .btn{
          color: white;
      }
  </style>
  {% endif %}
</head>
<body>
    <div class="container-fluid" style="text-align: center;">
        <form style="width: unset;" id="archidioceseform" class="form-horizontal">
            <fieldset>            
            {% if not modification %}
            <!-- Form Name -->
            <legend>Ajout d'une demande </legend>
            <!-- Text input-->
          <div class="form-group row">
            <label class="col-md-4 control-label" for="denomination">Nom et/ou prénoms</label>  
            <div class="col-md-5">
            <input id="name" name="name" type="text" value="{{name}}" placeholder="Nom/prénoms..." class="form-control input-md" >
            <!--<span class="help-block">le(s) Nom et/ou prénoms du demandeur</span>  --> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="denomination">Objet de la demande</label>  
            <div class="col-md-5">
            <input id="objet" name="objet" type="text" value="{{objet}}" placeholder="Objet ..." class="form-control input-md" >
            <!--<span class="help-block">l'objet de la demande</span>  --> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="denomination">Contenu de la demande</label>  
            <div class="col-md-5">
            <textarea id="description" maxlength="500" name="description" value="{{description}}" placeholder="contenu de la demande ..." class="form-control input-md" ></textarea>
            <!--<span class="help-block">le contenu de la demande</span>  --> 
            </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group row">
            <label class="col-md-4 control-label" for="type">Messe</label>
            <div class="col-md-5">
              <select id="messe" name="messe" class="form-control">
                  {% for d in messes %}

                  {% if event_id and d.id == event_id %}
                  <option value="{{d.id}}" selected>{{d.denomination}} à {{d.eglise}} à {{d.time}}</option>
                  {% else %}
                  <option value="{{d.id}}">{{d.denomination}} à {{d.eglise}} à {{d.time}}</option>
                  {% endif %}
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="etat">Statut</label>
            <div class="col-md-5">
              <select id="etat" name="etat" class="form-control">
                  <option value="true">Payé</option>
                  <option value="false">A rembourser</option>
              </select>
            </div>
          </div>
          
          
              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                  <input type="submit" id="save" class="btn btn-outline-success" value="Enregistrer"/>
                </div>
              </div> 
              {% else %}
              <!-- Form Name -->
            <legend>Modification de la demande {{description.50}} ...</legend>
              <!-- Text input-->
            <div class="form-group row">
            <label class="col-md-4 control-label" for="denomination">Nom et/ou prénoms</label>  
            <div class="col-md-5">
            <input id="name" name="name" type="text" value="{{name}}" placeholder="Nom/prénoms..." class="form-control input-md" >
            <!--<span class="help-block">le(s) Nom et/ou prénoms du demandeur</span>  --> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="denomination">Objet de la demande</label>  
            <div class="col-md-5">
            <input id="objet" name="objet" type="text" value="{{objet}}" placeholder="Objet ..." class="form-control input-md" >
            <!--<span class="help-block">l'objet de la demande</span>  --> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="denomination">Contenu de la demande</label>  
            <div class="col-md-5">
            <textarea id="description" maxlength="500" name="description" value="{{description}}" placeholder="contenu de la demande ..." class="form-control input-md" ></textarea>
            <!--<span class="help-block">le contenu de la demande</span>  --> 
            </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group row">
            <label class="col-md-4 control-label" for="type">Messe</label>
            <div class="col-md-5">
              <select id="messe" name="messe" class="form-control">
                  {% for d in messes %}

                  {% if event and d.id == event_id %}
                  <option value="{{d.id}}" selected>{{d.denomination}} à {{d.eglise}} à {{d.time}}</option>
                  {% else %}
                  <option value="{{d.id}}">{{d.denomination}} à {{d.eglise}} à {{d.time}}</option>
                  {% endif %}
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="etat">Statut</label>
            <div class="col-md-5">
              <select id="etat" name="etat" class="form-control">

                  {% if etat %}
                  <option value="true" selected>Payé</option>
                  <option value="false">A rembourser</option>

                  {% elif not etat %}
                  <option value="true">Payé</option>
                  <option value="false" selected>A rembourser</option>
                  {% endif %}
              </select>
            </div>
          </div>
            
           
            <input id="id" name="id" value="{{id}}" hidden >
              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <input type="submit" id="edit" class="btn btn-warning" value="Valider la modification"/>
                </div>
              </div> 
              {% endif %}
              
        
            </fieldset>
        </form>
            
    </div>

    <script text="text/javascript">
      function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            if (n['value']!="") {
            indexed_array[n['name']] = n['value'];
          }
        });

        return JSON.stringify(indexed_array);
    }
    </script>
    {% if modification %}
    <script type="text/javascript">
    $("textarea#description").val("{{description}}");
        $( "#archidioceseform" ).submit(function( event ) {
        console.log(getFormData($(this)));
        event.preventDefault();
        $.ajax({
          url: 'https://damp-sierra-52116.herokuapp.com/demandeaction/',
          type: 'PUT',
          dataType:"text",
          data:getFormData($(this)),
          success: function(response) {
            location.href="https://damp-sierra-52116.herokuapp.com/dash/"
          }
        });
      });
    </script>
    {% else %}
    <script type="text/javascript">
        
        
        $( "#archidioceseform" ).submit(function( event ) {
          console.log(getFormData($(this)));
          event.preventDefault();
          $.ajax({
            url: 'https://damp-sierra-52116.herokuapp.com/demandeaction/',
            type: 'POST',
            dataType:"text",
            data:getFormData($(this)),
            success: function(response) {
              location.href="https://damp-sierra-52116.herokuapp.com/dash/"
            }
          });
        });
    </script>
    {% endif %}

</body>
</html>
