{% load component_tags %}
{% load bootstrap4 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
<!DOCTYPE html>
<html>
<head>
    <title>{{action}} | Evénement</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="{% static 'favicon.ico' %}"/>

  {% component_dependencies %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>    <!-- <script  type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTejdM1ezX8mLcfVzdkWoUyJMKZwmI9PA">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <style>
      #jour{
        display: flex;
      }
      .option{
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
      align-items: stretch;
      justify-content: center;
      width: 24px;
      height: 24px;
      font-size: 12px;
      font-weight: 500;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #f1f3f4;
      color: #80868b;
      margin-right: 8px;
      cursor: pointer;
      padding:4px;
      }

      .option:hover{
      
      background-color: orange;
      color: white;
      }
      .option.selected{
      
      background-color: darkorange;
      color: white;
      }

    </style>
    {% if not modification %}
    <style>
      
        #map {
            width: 100%;
            height: 480px;
        }
        label {
            font-weight: bolder;
            color: rgb(168, 5, 87);
        }
        .help-block{
            color: rgb(168, 116, 5);  
        }
        legend{
            margin-top: 10px;
            padding: 10px;

        margin-bottom: 100px;
          width: 100%;
          color: whitesmoke;
          border-radius: 15px;
          background-image:linear-gradient(180deg,#a50b46 10%,#FBB03B 100%);background-size:cover;
          font-weight: bolder;
        }
    </style>
    {% else %}
    <style>
      body{
        background-image:linear-gradient(180deg,#a50b46 10%,#FBB03B 100%);background-size:cover;
      }
      #map {
          width: 100%;
          height: 480px;
      }
      label {
          font-weight: bolder;
          color:whitesmoke;
      }
      .help-block{
          color: rgb(252, 196, 77);  
      }
      legend{
        margin-top: 10px;
        padding: 10px;
        margin-bottom: 100px;
        width: 100%;
        background-color: whitesmoke;
        border-radius: 15px;
        color: rgb(168, 5, 87);
        font-weight: bolder;
      }
      .btn{
          color: white;
      }
  </style>
  {% endif %}
</head>
<body>
    <div class="container-fluid" style="text-align: center;">
        <form style="width: unset;" id="eventform" class="form-horizontal">
            <fieldset>            
            {% if not modification %}
            <!-- Form Name -->
            <legend>Ajout d'un événement </legend>
            <!-- Text input-->
          <div class="form-group row">
            <label class="col-md-4 control-label" for="denomination">Dénomination</label>  
            <div class="col-md-5">
            <input id="denomination" name="denomination" type="text" value="{{denomination}}" placeholder="Intitulé..." class="form-control input-md" required="">
            <!--<span class="help-block">le nom de l'événement</span>  --> 
            </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group row">
            <label class="col-md-4 control-label" for="type">Type</label>
            <div class="col-md-5">
              <select id="type" name="type" class="form-control">
                <option value="Me">Messe</option>
                <option value="Mefi">Messe filmée</option>
                <option value="Ado">Adoration</option>
                <option value="Conf">Confession</option>
                <option value="Pel">Pélérinage</option>
                <option value="Bapt">Baptême</option>
                <option value="Mari">Mariage</option>
                <option value="Veil">Veillée</option>
              </select>
            </div>
          </div>
          
          <!-- Select Basic -->
          <div class="form-group row">
            <label class="col-md-4 control-label" for="type">Eglise</label>
            <div class="col-md-5">
              <select id="eglise" name="eglise" class="form-control">
                  {% for d in eglises %}

                  {% if eglise_id and d.id == eglise_id %}
                  <option value="{{d.id}}" selected>{{d.denomination}}</option>
                  {% else %}
                  <option value="{{d.id}}">{{d.denomination}}</option>
                  {% endif %}
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="pretres">Prêtres</label>
            <div class="col-md-5">
                <select class="selectpicker" id="pretres" name="pretres" multiple style="height: 30px;" data-live-search="true">
                    {% for p in pres %}
                    <option value="{{p.id}}">{{p.nom}} {{p.prenoms}}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 control-label" for="heure">Heure</label>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" name="heure" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fas fa-clock"></i></div>
                        </div>
                    </div>
                    <!--<span class="help-block">l'heure au format  <em>HH:mm</em> ou choisir</span>  --> 
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        format: 'HH:mm'
                    });
                });
            </script>
        </div>

        <div class="form-group row">
          <label class="col-md-4 control-label" for="frequence">Répétition ?</label>  
          <div class="col-md-5 row">
              <div class="col-md-12">
                  <select id="frequence" name="frequence" class="form-control">
                    <option value="Pas_de_frequence">Une seule fois</option>
                      <option value="Quotidienne">Tous les jours</option>
                      <option value="Hebdomadaire">Toutes les semaines</option>
                      <!-- <option value="Mensuelle">Tous les mois</option> -->
                  </select>
                </div>
          </div>
        </div>
        <div class="form-group row" id="jourform">
          <label class="col-md-4 control-label" for="jour">Jour</label>  
          <div class="col-md-5 justify-content-center">
            <div class="col">
              <div id="jour" name="jour" class="row">
                <span class="col-md-1 option" onclick="selectMe(this, 'Dimanche')">D</span>
                <span class="col-md-1 option " onclick="selectMe(this, 'Lundi')">L</span>
                <span class="col-md-1 option " onclick="selectMe(this, 'Mardi')">M</span>
                <span class="col-md-1 option " onclick="selectMe(this, 'Mercredi')">M</span>
                <span class="col-md-1 option " onclick="selectMe(this, 'Jeudi')">J</span>
                <span class="col-md-1 option " onclick="selectMe(this, 'Vendredi')">V</span>
                <span class="col-md-1 option " onclick="selectMe(this, 'Samedi')">S</span>
              </div>
            </div>
              <!-- <div class="col-md-12">
                  <select id="jour" name="jour" class="form-control row" style="display: flex;">
                    <option class="col-md-1" value="Lundi">Lundi</option>
                    <option class="col-md-1" value="Mardi">Mardi</option>
                    <option class="col-md-1" value="Mercredi">Mercredi</option>
                    <option class="col-md-1" value="Jeudi">Jeudi</option>
                    <option class="col-md-1" value="Vendredi">Vendredi</option>
                    <option class="col-md-1" value="Samedi">Samedi</option>
                    <option class="col-md-1" value="Dimanche">Dimanche</option>
                  </select>
                </div> -->
          </div>
        </div>
        <div class="row" id="jourdateform">
          <label class="col-md-4 control-label" for="jourdateform">Date</label>
          <div class="col-md-5">
              <div class="form-group">
                  <div class="input-group date" id="datetimepick" data-target-input="nearest">
                      <input type="text" name="jour" class="form-control datetimepicker-input" data-target="#datetimepick"/>
                      <div class="input-group-append" data-target="#datetimepick" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
                  <!--<span class="help-block">la date au format "DD/MM/YYYY, HH:mm:ss" ou choisir</span>  --> 
              </div>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepick').datetimepicker({
                      format: 'DD/MM/YYYY'
                  });
              });
          </script>
      </div>
        <div class="row" id="starttimeform">
          <label class="col-md-4 control-label" for="starttime">Date de début</label>
          <div class="col-md-5">
              <div class="form-group">
                  <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                      <input type="text" name="starttime" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                      <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
                  <!--<span class="help-block">la date au format "DD/MM/YYYY, HH:mm:ss" ou choisir</span>  --> 
              </div>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker2').datetimepicker({
                      format: 'DD/MM/YYYY, HH:mm:ss'
                  });
              });
          </script>
      </div>
      <div class="row" id="endtimeform">
        <label class="col-md-4 control-label" for="endtime">Date de fin</label>
        <div class="col-md-5">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                    <input type="text" name="endtime" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
                    <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <!--<span class="help-block">la date au format "DD/MM/YYYY, HH:mm:ss" ou choisir</span>  --> 
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'DD/MM/YYYY, HH:mm:ss'
                });
            });
        </script>
    </div>
              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                  <input type="submit" id="save" class="btn btn-outline-success" value="Enregistrer"/>
                </div>
              </div> 
              {% else %}
              <!-- Form Name -->
            <legend>Modification de l'événement {{denomination}}</legend>
              <!-- Text input-->
            <div class="form-group row">
              <label class="col-md-4 control-label" for="denomination">Dénomination</label>  
              <div class="col-md-5">
              <input id="denomination" name="denomination" type="text" value="{{denomination}}" placeholder="Intitulé..." class="form-control input-md" required="">
              <!--<span class="help-block">le nom de l'événement</span>  --> 
              </div>
            </div>

            <!-- Select Basic -->
          <div class="form-group row">
            <label class="col-md-4 control-label" for="type">Type</label>
            <div class="col-md-5">
              <select id="type" name="type" class="form-control">
                <option value="Me">Messe</option>
                <option value="Mefi">Messe filmée</option>
                <option value="Ado">Adoration</option>
                <option value="Conf">Confession</option>
                <option value="Pel">Pélérinage</option>
                <option value="Bapt">Baptême</option>
                <option value="Mari">Mariage</option>
                <option value="Veil">Veillée</option>
              </select>
            </div>
          </div>
            
            <!-- Select Basic -->
            <div class="form-group row">
              <label class="col-md-4 control-label" for="type">Eglise</label>
              <div class="col-md-5">
                <select id="eglise" name="eglise" class="form-control">
                    {% for d in eglises %}

                    {% if eglise_id and d.id == eglise_id %}
                    <option value="{{d.id}}" selected>{{d.denomination}}</option>
                    {% else %}
                    <option value="{{d.id}}">{{d.denomination}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 control-label" for="pretres">Prêtres</label>
                <div class="col-md-5">
                    <select class="selectpicker" name="pretres" id="pretres" name="pretres" multiple style="height: 30px;" data-live-search="true">
                        {% for p in pres %}
                        <option value="{{p.id}}">{{p.nom}} {{p.prenoms}}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>
              <div class="row">
                <label class="col-md-4 control-label" for="heure">Heure</label>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" name="heure" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fas fa-clock"></i></div>
                            </div>
                        </div>
                        <!--<span class="help-block">l'heure au format  <em>HH:mm</em> ou choisir</span>  --> 
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker({
                            format: 'HH:mm'
                        });
                    });
                </script>
            </div>
    
            <div class="form-group row">
              <label class="col-md-4 control-label" for="frequence">Répétition ?</label>  
              <div class="col-md-5 row">
                  <div class="col-md-12">
                      <select id="frequence" name="frequence" class="form-control">
                        <option value="Pas_de_frequence">Une seule fois</option>
                      <option value="Quotidienne">Tous les jours</option>
                      <option value="Hebdomadaire">Toutes les semaines</option>
                      <!-- <option value="Mensuelle">Tous les mois</option> -->
                      </select>
                    </div>
              </div>
            </div>
            <div class="form-group row" id="jourform">
              <label class="col-md-4 control-label" for="jour">Jour</label>  
              <div class="col-md-5 justify-content-center">
                <div class="col">
                  <div id="jour" name="jour" class="row">
                    <span class="col-md-1 option" onclick="selectMe(this, 'Dimanche')">D</span>
                    <span class="col-md-1 option " onclick="selectMe(this, 'Lundi')">L</span>
                    <span class="col-md-1 option " onclick="selectMe(this, 'Mardi')">M</span>
                    <span class="col-md-1 option " onclick="selectMe(this, 'Mercredi')">M</span>
                    <span class="col-md-1 option " onclick="selectMe(this, 'Jeudi')">J</span>
                    <span class="col-md-1 option " onclick="selectMe(this, 'Vendredi')">V</span>
                    <span class="col-md-1 option " onclick="selectMe(this, 'Samedi')">S</span>
                  </div>
                </div>
                  <!-- <div class="col-md-12">
                      <select id="jour" name="jour" class="form-control row" style="display: flex;">
                        <option class="col-md-1" value="Lundi">Lundi</option>
                        <option class="col-md-1" value="Mardi">Mardi</option>
                        <option class="col-md-1" value="Mercredi">Mercredi</option>
                        <option class="col-md-1" value="Jeudi">Jeudi</option>
                        <option class="col-md-1" value="Vendredi">Vendredi</option>
                        <option class="col-md-1" value="Samedi">Samedi</option>
                        <option class="col-md-1" value="Dimanche">Dimanche</option>
                      </select>
                    </div> -->
              </div>
            </div>
            <div class="row" id="jourdateform">
              <label class="col-md-4 control-label" for="jourdateform">Date</label>
              <div class="col-md-5">
                  <div class="form-group">
                      <div class="input-group date" id="datetimepick" data-target-input="nearest">
                          <input type="text" name="jour" class="form-control datetimepicker-input" data-target="#datetimepick"/>
                          <div class="input-group-append" data-target="#datetimepick" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                      <!--<span class="help-block">la date au format "DD/MM/YYYY, HH:mm:ss" ou choisir</span>  --> 
                  </div>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepick').datetimepicker({
                          format: 'DD/MM/YYYY'
                      });
                  });
              </script>
          </div>
            
            <div class="row" id="starttimeform">
              <label class="col-md-4 control-label" for="starttime">Date de début</label>
              <div class="col-md-5">
                  <div class="form-group">
                      <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                          <input type="text" name="starttime" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                      <!--<span class="help-block">la date au format "DD/MM/YYYY, HH:mm:ss" ou choisir</span>  --> 
                  </div>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker2').datetimepicker({
                          format: 'DD/MM/YYYY, HH:mm:ss'
                      });
                  });
              </script>
          </div>
          <div class="row" id="endtimeform">
            <label class="col-md-4 control-label" for="endtime">Date de fin</label>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                        <input type="text" name="endtime" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
                        <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <!--<span class="help-block">la date au format "DD/MM/YYYY, HH:mm:ss" ou choisir</span>  --> 
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker3').datetimepicker({
                        format: 'DD/MM/YYYY, HH:mm:ss'
                    });
                });
            </script>
        </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker({
                            format: 'DD/MM/YYYY, HH:mm:ss'
                    });
                    });
                </script>
            </div>
            <input id="id" name="id" value="{{id}}" hidden >
              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <input type="submit" id="edit" class="btn btn-outline-success" value="Valider la modification"/>
                </div>
              </div> 
              {% endif %}
              
        
            </fieldset>
        </form>
            
    </div>

    <script text="text/javascript">
    $('#starttimeform').hide();
      $('#endtimeform').hide();
      $('#jourdateform').show();
      $('#jourform').hide();
      $('#frequence').on('change', function() {
        if (this.value === 'Pas_de_frequence') {
           $('#starttimeform').hide();
           $('#endtimeform').hide();
           $('#jourdateform').show();
           $('#jourform').hide();

       }else{
          $('#starttimeform').show();
          $('#endtimeform').show();
          if (this.value === 'Quotidienne'){
            $('#jourform').hide();
            $('#jourdateform').hide();

          }else{
            $('#jourform').show();
            $('#jourdateform').hide();
          }
       }
       
      });
      
      $('#pretres').selectpicker({
            noneSelectedText : 'Veuillez sélectionner',
            noneResultsText: 'Aucun résultant troouvé',
            actionsBox:true,
            deselectAllText: 'Déselectionner tout',
            selectAllText: 'Tout sélectionner'          
            });
      function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            if (n['value']!="") {
              if (indexed_array[n['name']]){
                indexed_array[n['name']] +=","+n['value']; 
              }else{
                indexed_array[n['name']] =n['value'];
              }
            // indexed_array[n['name']] = n['value'];
          }
        });

        return JSON.stringify(indexed_array);
    }
    </script>
    {% if modification %}
    <script type="text/javascript">
    var selected = [];

function selectMe(selector, value){
    //console.log(selector);
    selector.classList.toggle('selected');
    var found = jQuery.inArray(value, selected);
    if (found >= 0) {
        // Element was found, remove it.
        selected.splice(found, 1);
    } else {
        // Element was not found, add it.
        selected.push(value);
    }
    console.log(selected);
    console.log("valeurs = "+selected.join(", "));
}
        $( "#eventform" ).submit(function( event ) {
          console.log(getFormData($(this)));
          var a =getFormData($(this));
          var jsonTosend = JSON.parse(a);
          console.log(jsonTosend);
          jsonTosend.jour= selected.join(", ");
          var toSend = JSON.stringify(jsonTosend);
          console.log(toSend);
        event.preventDefault();
        $.ajax({
          url: 'https://damp-sierra-52116.herokuapp.com/eventaction/',
          type: 'PUT',
          dataType:"text",
          data:toSend,
          success: function(response) {
            location.href="https://damp-sierra-52116.herokuapp.com/dash/"
          }
        });
      });
    </script>
    {% else %}
    <script type="text/javascript">
        var selected = [];

function selectMe(selector, value){
    //console.log(selector);
    selector.classList.toggle('selected');
    var found = jQuery.inArray(value, selected);
    if (found >= 0) {
        // Element was found, remove it.
        selected.splice(found, 1);
    } else {
        // Element was not found, add it.
        selected.push(value);
    }
    console.log(selected);
    console.log("valeurs = "+selected.join(", "));
}
        
        $( "#eventform" ).submit(function( event ) {
          console.log(getFormData($(this)));
          var a =getFormData($(this));
          var jsonTosend = JSON.parse(a);
          console.log(jsonTosend);
          jsonTosend.jour= selected.join(", ");
          var toSend = JSON.stringify(jsonTosend);
          console.log(toSend);
          event.preventDefault();
          $.ajax({
            url: 'https://damp-sierra-52116.herokuapp.com/eventaction/',
            type: 'POST',
            dataType:"text",
            data:toSend,
            success: function(response) {
              location.href="https://damp-sierra-52116.herokuapp.com/dash/"
            }
          });
        });
    </script>
    {% endif %}

</body>
</html>
