{% load component_tags %}
{% load bootstrap4 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
<!DOCTYPE html>
<html>
<head>
    <title>{{action}} | Utilisateur</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="{% static 'favicon.ico' %}"/>

  {% component_dependencies %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>    <!-- <script  type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTejdM1ezX8mLcfVzdkWoUyJMKZwmI9PA">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    {% if not modification %}
    <style>
      
        #map {
            width: 100%;
            height: 480px;
        }
        label {
            font-weight: bolder;
            color: rgb(168, 5, 87);
        }
        .help-block{
            color: rgb(168, 116, 5);  
        }
        legend{
            margin-top: 10px;
            padding: 10px;

        margin-bottom: 100px;
          width: 100%;
          color: whitesmoke;
          border-radius: 15px;
          background-image:linear-gradient(180deg,#a50b46 10%,#FBB03B 100%);background-size:cover;
          font-weight: bolder;
        }
    </style>
    {% else %}
    <style>
      body{
        background-image:linear-gradient(180deg,#a50b46 10%,#FBB03B 100%);background-size:cover;
      }
      #map {
          width: 100%;
          height: 480px;
      }
      label {
          font-weight: bolder;
          color:whitesmoke;
      }
      .help-block{
          color: rgb(252, 196, 77);  
      }
      legend{
        margin-top: 10px;
        padding: 10px;
        margin-bottom: 100px;
        width: 100%;
        background-color: whitesmoke;
        border-radius: 15px;
        color: rgb(168, 5, 87);
        font-weight: bolder;
      }
      .btn{
          color: white;
      }
  </style>
  {% endif %}
</head>
<body>
    <div class="container-fluid" style="text-align: center;">
        <form style="width: unset;" id="userform" class="form-horizontal">
            <fieldset>            
            {% if not modification %}
            <!-- Form Name -->
            <legend>Ajout d'un utilisateur </legend>
            <!-- Text input-->
          <div class="form-group row">
            <label class="col-md-4 control-label" for="username">Nom d'utilisateur</label>  
            <div class="col-md-5">
            <input id="username" name="username" type="text" value="{{username}}" placeholder="pseudo..." class="form-control input-md" required="">
            <!--<span class="help-block">le nom de l'utilisateur</span>  --> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="lastname">Nom</label>  
            <div class="col-md-5">
            <input id="lastname" name="lastname" type="text" value="{{lastname}}" placeholder="nom de famille..." class="form-control input-md">
            <!--<span class="help-block">le nom de famille</span>  --> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="firstname">Prénoms</label>  
            <div class="col-md-5">
            <input id="firstname" name="firstname" type="text" value="{{firstname}}" placeholder="prénoms..." class="form-control input-md">
            <!--<span class="help-block">le(s) prénom(s)</span>  --> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="email">Email</label>  
            <div class="col-md-5">
            <input id="email" name="email" type="email" value="{{email}}" placeholder="messe@Missam.ci" class="form-control input-md">
            <!--<span class="help-block">l'email'</span>  --> 
            </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group row">
            <label class="col-md-4 control-label" for="type">Type</label>
            <div class="col-md-5">
              <select id="type" name="type" class="form-control">
                <option value="Superadmin">Super administrateur</option>
                <option value="Admin">Administrateur</option>
                <option value="Secre">Sécrétaire ou autre</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="type">Eglise</label>
            <div class="col-md-5">
              <select id="eglise" name="eglise" class="form-control">
                  {% for d in eglises %}

                  {% if eglise_id and d.id == eglise_id %}
                  <option value="{{d.id}}" selected>{{d.denomination}}</option>
                  {% else %}
                  <option value="{{d.id}}">{{d.denomination}}</option>
                  {% endif %}
                  {% endfor %}
              </select>
            </div>
          </div>
         
          
              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                  <input type="submit" id="save" class="btn btn-outline-success" value="Enregistrer"/>
                </div>
              </div> 
              {% else %}
              <!-- Form Name -->
            <legend>Modification de l'utilisateur {{username}}</legend>
              <!-- Text input-->
              <div class="form-group row">
                <label class="col-md-4 control-label" for="username">Nom d'utilisateur</label>  
                <div class="col-md-5">
                <input id="username" name="username" type="text" value="{{username}}" placeholder="pseudo..." class="form-control input-md" required="">
                <!--<span class="help-block">le nom de l'utilisateur</span>  --> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 control-label" for="lastname">Nom</label>  
                <div class="col-md-5">
                <input id="lastname" name="lastname" type="text" value="{{lastname}}" placeholder="nom de famille..." class="form-control input-md">
                <!--<span class="help-block">le nom de famille</span>  --> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 control-label" for="firstname">Prénoms</label>  
                <div class="col-md-5">
                <input id="firstname" name="firstname" type="text" value="{{firstname}}" placeholder="prénoms..." class="form-control input-md">
                <!--<span class="help-block">le(s) prénom(s)</span>  --> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 control-label" for="email">Email</label>  
                <div class="col-md-5">
                <input id="email" name="email" type="email" value="{{email}}" placeholder="messe@Missam.ci" class="form-control input-md">
                <!--<span class="help-block">l'email'</span>  --> 
                </div>
              </div>
              <!-- Select Basic -->
              <div class="form-group row">
                <label class="col-md-4 control-label" for="type">Type</label>
                <div class="col-md-5">
                  <select id="type" name="type" class="form-control">
                    <option value="Superadmin">Super administrateur</option>
                    <option value="Admin">Administrateur</option>
                    <option value="Secre">Sécrétaire ou autre</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 control-label" for="type">Eglise</label>
                <div class="col-md-5">
                  <select id="eglise" name="eglise" class="form-control">
                      {% for d in eglises %}
    
                      {% if eglise_id and d.id == eglise_id %}
                      <option value="{{d.id}}" selected>{{d.denomination}}</option>
                      {% else %}
                      <option value="{{d.id}}">{{d.denomination}}</option>
                      {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>
             
              
            <input id="id" name="id" value="{{id}}" hidden >
              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <input type="submit" id="edit" class="btn btn-outline-success" value="Valider la modification"/>
                </div>
              </div> 
              {% endif %}
              
        
            </fieldset>
        </form>
            
    </div>

    <script text="text/javascript">
      $('#pretres').selectpicker({
              noneSelectedText : 'Veuillez sélectionner',
              noneResultsText: 'Aucun résultant troouvé',
              actionsBox:true,
              deselectAllText: 'Déselectionner tout',
              selectAllText: 'Tout sélectionner'
          });
      function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            if (n['value']!="") {
            indexed_array[n['name']] = n['value'];
          }
        });

        return JSON.stringify(indexed_array);
    }
    </script>
    {% if modification %}
    <script type="text/javascript">
        $( "#userform" ).submit(function( event ) {
        console.log(getFormData($(this)));
        event.preventDefault();
        $.ajax({
          url: 'https://damp-sierra-52116.herokuapp.com/useraction/',
          type: 'PUT',
          dataType:"text",
          data:getFormData($(this)),
          success: function(response) {
            location.href="https://damp-sierra-52116.herokuapp.com/dash/"
          }
        });
      });
    </script>
    {% else %}
    <script type="text/javascript">
        
        
        $( "#userform" ).submit(function( event ) {
          console.log(getFormData($(this)));
          event.preventDefault();
          $.ajax({
            url: 'https://damp-sierra-52116.herokuapp.com/useraction/',
            type: 'POST',
            dataType:"text",
            data:getFormData($(this)),
            success: function(response) {
              location.href="https://damp-sierra-52116.herokuapp.com/dash/"
            }
          });
        });
    </script>
    {% endif %}

</body>
</html>
