{# Load the tag library #}
<!-- {% load bootstrap4 %} -->
{% load static %}
{# Load CSS and JavaScript #}
<!-- {% bootstrap_css %} -->
<!-- {% bootstrap_javascript jquery='full' %} -->
    <img src="{% static 'assets/Wave.png' %}" alt="" class="wave">
    <div class="container">
        <div class="img">
          <h1 style="color: rgb(255, 163, 25); text-shadow: #888888; text-overflow: clip; text-align: justify; font-size:24pxpx; font-style: normal; font-family: monospace;">Bienvenue dans l'espace d'administration de <u>Missam</u></h1>
          <!-- <img src="{% static 'logo.png' %}" alt="" > -->
        </div>
        <div class="login-container">
            <form class="form-login" >
                <img class="avatar" src="{% static 'logo.png' %}" alt="">
                <h5 id="text-reponse" style="color: rgba(255, 0, 0, 0.603);">Le nom d'utilisateur/l'email ou le mot de passe n'est pas correct !</h5>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"> </i>
                    </div>
                    <div style="border-style: solid; border-width: 0px; border-bottom-width: 1px; border-bottom-color: grey;">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"/>
                        <input class="input" id="form-username" placeholder="Nom d'utilisateur ou email" type="text">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"> </i>
                    </div>
                    <div class="div" style="border-style: solid; border-width: 0px; border-bottom-width: 1px; border-bottom-color: grey;">
                        <input class="input" id="form-password" placeholder="Mot de passe" type="password">
                    </div>
                </div>
              <div class="form-group">
            <div class="input-group mb-3">
              <p><input type="checkbox" onclick="myFunction()">&nbsp; &nbsp;Afficher le mot de passe</p>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block login-btn">Se connecter</button>
                <a href="javascript:void(0)" id="forgotpass">Mot de passe oublié?</a>
              
              <br>
          <div class="form-group" style="border-radius: 20px; border-style: solid; border-width:0px; padding:10px; background-color:#ededed" id="new_pass_form"  style="margin-top: 20px;">
            <div class="input-div one" style="background-color:white; border-radius:20px; padding:5px">
                    <div class="i">
                        <i class="far fa-envelope"> </i>
                    </div>
                    <div>
                        <input class="input"  id="email_pass" placeholder="email@host.ci..." type="email">
                    </div>
                </div>
            <div class="input-group mb-3">
             
              <button type="button" class="btn btn-secondary btn-block change-btn">Changer de mot de passe</button>
            </div>
          </div>
            </form>
        </div>
    </div>

  {% block javascript %}
  <script>
    function myFunction() {
      var x = document.getElementById("form-password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    } 
  </script>
  <script  type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript"> 
    const token = document.querySelector('[name=csrfmiddlewaretoken]').value;  
  </script>
  <script  type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script src="{% static 'login/login.js' %}"></script>
  
 
  {% endblock%}