{% if key == 'accueil' %}

<div class="row">
    <div class="col-xs-12 ">
      <table class="table table-hover t-body display responsive" style="width:100%" >
        <thead>
            <tr>
                {% for k in header %}
                <th>{{ k }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                {% for value in item %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                {% for k in header %}
                <th>{{ k }}</th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
    
    </div>
  </div>

{% else %}
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-hover t-body display responsive nowrap" style="width:100%" >
        <caption>Liste des <span> {{title}} </span></caption>
          <thead>
              <tr>
                  {% for k in header %}
                  <th>{{ k }}</th>
                  {% endfor %}
                  {% if key != "stats" %}
                  <th>action</th>
                  {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for item in data %}
              <tr id="{{item.0}}_{{key}}">
                  {% for value in item %}
                  <td>{{ value }}</td>
                  {% endfor %}
                  {% if key != "stats" %}
                  <td><button id="edit_{{item.0}}_{{key}}" class="action btn btn-sm btn-secondary"><i class="fas fa-pencil-alt"></i></button> &nbsp;&nbsp; <button id="delete_{{item.0}}_{{key}}" class="action btn btn-sm btn-outline-danger"><i class="far fa-trash-alt"></i></button></td>
                    {% endif %}
              </tr>
              {% endfor %}
          </tbody>
          <tfoot>
              <tr>
                  {% for k in header %}
                  <th>{{ k }}</th>
                  {% endfor %}
              </tr>
          </tfoot>
      </table>
      
      </div>
    </div>

{% endif %}
  

