caption span{
    font-weight: bolder;
    color: #9E005D;
}

thead tr{
    background-image:linear-gradient(180deg,#a50b46 10%,#FBB03B 100%);background-size:cover;
    color: whitesmoke;
}

thead th:hover{
    background-color: #c70576;
}

table{
    padding-top: 50px;
}

