{% load component_tags %}
{# Load the tag library #}
{# Load CSS and JavaScript #}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{appName}} | dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/dt-1.10.10,r-2.0.0/datatables.min.css"/> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
    {% component_dependencies %}

    <style>
         /* The side navigation menu */
        .sidenav {
        height: 100%; /* 100% Full-height */
        width: 70px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        background-color: #a50b46; /* Black*/
        /* overflow-x: hidden; Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
        }

        /* The navigation menu links */
        .sidenav a {
        padding: 8px 8px 8px 15px;
        text-decoration: none;
        font-size: 20px;
        color: #f0e9e9;
        /* display: block;
        transition: 0.3s; */
        width: 100%;
        }
        .hiden{
            display: none;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
        color: #FBB03B;
        }

        /* Position and style the close button (top right corner) */
        .sidenav #closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
        transition: margin-left .5s;
        padding: 20px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        } 
    </style>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Missam CI</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            {% if usertype == "superadmin" %}
    <li class="nav-item active">
              <ahref="#" id="loadEvent"><i style="width: 30px; margin:2px" class="fas fa-bible"></i>  <span id="menu" class="hiden">Evènements liturgiques</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadEglise"><i style="width: 30px; margin:2px" class="fas fa-map-marker-alt"></i>  <span id="menu" class="hiden">Eglises</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadDiocese"><i style="width: 30px; margin:2px" class="fas fa-church"></i>  <span id="menu" class="hiden">Diocèses</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadArchi"><i style="width: 30px; margin:2px" class="fas fa-map"></i>  <span id="menu" class="hiden">Archidiocèses</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadPretre"><i style="width: 30px; margin:2px" class="fas fa-praying-hands"></i>  <span id="menu" class="hiden">Prêtres</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadClient"><i style="width: 30px; margin:2px" class="fas fa-pray"></i>  <span id="menu" class="hiden">Utilisateurs</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadDemande"><i style="width: 30px; margin:2px" class="fas fa-cross"></i>  <span id="menu" class="hiden">Demandes de messe</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadStats"><i style="width: 30px; margin:2px" class="fas fa-signal"></i>  <span id="menu" class="hiden">Statistiques</span></a></li>
    {% elif usertype == "admin" %}
    <li class="nav-item">
              <ahref="#" id="loadEvent"><i style="width: 30px; margin:2px" class="fas fa-bible"></i>  <span id="menu" class="hiden">Evènements liturgiques</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadPretre"><i style="width: 30px; margin:2px" class="fas fa-praying-hands"></i>  <span id="menu" class="hiden">Prêtres</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadClient"><i style="width: 30px; margin:2px" class="fas fa-pray"></i>  <span id="menu" class="hiden">Utilisateurs</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadDemande"><i style="width: 30px; margin:2px" class="fas fa-cross"></i>  <span id="menu" class="hiden">Demandes de messe</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadStats"><i style="width: 30px; margin:2px" class="fas fa-signal"></i>  <span id="menu" class="hiden">Statistiques</span></a></li>
    {% else %}
    <li class="nav-item">
              <ahref="#" id="loadEvent"><i style="width: 30px; margin:2px" class="fas fa-bible"></i>  <span id="menu" class="hiden">Evènements liturgiques</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadPretre"><i style="width: 30px; margin:2px" class="fas fa-praying-hands"></i>  <span id="menu" class="hiden">Prêtres</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadClient"><i style="width: 30px; margin:2px" class="fas fa-pray"></i>  <span id="menu" class="hiden">Utilisateurs</span></a></li>
    <li class="nav-item">
              <ahref="#" id="loadDemande"><i style="width: 30px; margin:2px" class="fas fa-cross"></i>  <span id="menu" class="hiden">Demandes de messe</span></a></li>
    {% endif %}
    
          </ul>
          
        </div>
      </nav> -->

    <!-- Menu de navigation -->
    <div id="mySidenav" class="sidenav">
        <p><a href="javascript:void(0)" id="closebtn" class="hiden" onclick="closeNav()">&times;</a></p>
        {% if usertype == "superadmin" %}
        <p><a href="#" id="loadEvent"><i id="ic" style="width: 30px; margin:2px" class="fas fa-bible"></i>  <span id="menu" class="hiden">Evènements liturgiques</span></a></p>
        <p><a href="#" id="loadEglise"><i id="ic" style="width: 30px; margin:2px" class="fas fa-map-marker-alt"></i>  <span id="menu" class="hiden">Eglises</span></a></p>
        <p><a href="#" id="loadDiocese"><i id="ic" style="width: 30px; margin:2px" class="fas fa-church"></i>  <span id="menu" class="hiden">Diocèses</span></a></p>
        <p><a href="#" id="loadArchi"><i id="ic" style="width: 30px; margin:2px" class="fas fa-map"></i>  <span id="menu" class="hiden">Archidiocèses</span></a></p>
        <p><a href="#" id="loadPretre"><i id="ic" style="width: 30px; margin:2px" class="fas fa-praying-hands"></i>  <span id="menu" class="hiden">Prêtres</span></a></p>
        <p><a href="#" id="loadClient"><i id="ic" style="width: 30px; margin:2px" class="fas fa-pray"></i>  <span id="menu" class="hiden">Utilisateurs</span></a></p>
        <p><a href="#" id="loadDemande"><i id="ic" style="width: 30px; margin:2px" class="fas fa-cross"></i>  <span id="menu" class="hiden">Demandes de messe</span></a></p>
        <p><a href="#" id="loadStats"><i id="ic" style="width: 30px; margin:2px" class="fas fa-signal"></i>  <span id="menu" class="hiden">Statistiques</span></a></p>
        {% elif usertype == "admin" %}
        <p><a href="#" id="loadEvent"><i id="ic" style="width: 30px; margin:2px" class="fas fa-bible"></i>  <span id="menu" class="hiden">Evènements liturgiques</span></a></p>
        <p><a href="#" id="loadPretre"><i id="ic" style="width: 30px; margin:2px" class="fas fa-praying-hands"></i>  <span id="menu" class="hiden">Prêtres</span></a></p>
        <p><a href="#" id="loadClient"><i id="ic" style="width: 30px; margin:2px" class="fas fa-pray"></i>  <span id="menu" class="hiden">Utilisateurs</span></a></p>
        <p><a href="#" id="loadDemande"><i id="ic" style="width: 30px; margin:2px" class="fas fa-cross"></i>  <span id="menu" class="hiden">Demandes de messe</span></a></p>
        <p><a href="#" id="loadStats"><i id="ic" style="width: 30px; margin:2px" class="fas fa-signal"></i>  <span id="menu" class="hiden">Statistiques</span></a></p>
        {% else %}
        <p><a href="#" id="loadEvent"><i id="ic" style="width: 30px; margin:2px" class="fas fa-bible"></i>  <span id="menu" class="hiden">Evènements liturgiques</span></a></p>
        <p><a href="#" id="loadPretre"><i id="ic" style="width: 30px; margin:2px" class="fas fa-praying-hands"></i>  <span id="menu" class="hiden">Prêtres</span></a></p>
        <p><a href="#" id="loadClient"><i id="ic" style="width: 30px; margin:2px" class="fas fa-pray"></i>  <span id="menu" class="hiden">Utilisateurs</span></a></p>
        <p><a href="#" id="loadDemande"><i id="ic" style="width: 30px; margin:2px" class="fas fa-cross"></i>  <span id="menu" class="hiden">Demandes de messe</span></a></p>
        {% endif %}
        
    </div>

    <span><button onclick="openNav()" id="openNav" type="button" class="btn btn-lg btn-dark" style="background-color: #a50b46;" ><i class="fas fa-bars"></i></button></span>
    <div id="main">
        
        {% component name="header" lastname=lastname firstname=firstname username=username eglisename=eglisename usertype=usertype %}
        <button class="btn btn-outline-warning" style="margin-top: 30px; margin-bottom: 15px; right: 10%" id="add">Ajouter</button>
        
        {% component name="modeltable" tablename="event" %}

        
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
            </div>
          </div>
        </div>
      </div>
    <!-- chargement de la biblioteque Ajax -->
    {% block javascript %}
        <script>
            var d="0px";
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
            // true for mobile device
            console.log("mobile device");
            d="0px";
            document.getElementById("openNav").style.marginTop="10px";
            document.getElementById("openNav").classList.remove("btn-lg");
            document.getElementById("openNav").classList.add("btn-sm");
            var icons = document.querySelectorAll('#ic');
            for (var i = 0; i < icons.length; i++) {
                icons[i].classList.add('hiden');
            }  

            }else{
            // false for not mobile device
            console.log("not mobile device");
            document.getElementById("openNav").style.marginTop="20px";
            d="70px";
            }
            document.getElementById("openNav").style.marginLeft=d;
            /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
            document.getElementById("main").style.marginLeft = d;
            document.getElementById("mySidenav").style.width = d;
            var divs = document.querySelectorAll('#menu');
            for (var i = 0; i < divs.length; i++) {
                divs[i].classList.add('hiden');
            }            
            // document.getElementsByClassName("closebtn").classList.add('hiden');

            // document.getElementById("menu").classList.add("hiden");
            // document.getElementsByClassName("closebtn").style.display = "none";
            function openNav() {
            document.getElementById("mySidenav").style.width = "285px";
            document.getElementById("main").style.marginLeft = "285px";
            // document.getElementById("menu").classList.remove("hiden");
            for (var i = 0; i < divs.length; i++) {
                divs[i].classList.remove('hiden');
            }
            document.getElementById("closebtn").classList.remove('hiden');
            }

            /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
            function closeNav() {
            document.getElementById("mySidenav").style.width = d;
            document.getElementById("main").style.marginLeft = d;
            // document.getElementById("menu").classList.add("hiden");
            for (var i = 0; i < divs.length; i++) {
                divs[i].classList.add('hiden');
            }
            document.getElementById("closebtn").classList.add('hiden');
            } 
        </script>
        <script  type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <!-- <script  type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js "></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js "></script>

        <script>
            var modelName="";
            function randomString(length, chars) {
                var result = '';
                for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
                return result;
            }
         
            function update_table(modelname) {
                modelName=modelname;
                 console.log(modelname); // sanity check
                 var rString = randomString(32, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
                 console.log(rString);
                 var usertype="{{usertype}}";
                 if (usertype=="superadmin") {
                     eglisename="all"
                 } else {
                    eglisename="{{eglisename}}"
                 }
                 if(modelName=="stats"){
                     document.getElementById("add").style.display="none"
                 }else{
                    document.getElementById("add").style.display="block"

                 }
                 $.get("https://damp-sierra-52116.herokuapp.com/updatetable/?modelname=" + modelname+"&usertype={{usertype}}&eglise="+eglisename, function(data, status){
                     // alert("Data: " + data + "\nStatus: " + status);
                    //  $('.t-body').DataTable().fnDestroy();
                    if ($.fn.DataTable.isDataTable('.t-body')) {
                        $('.t-body').DataTable().destroy();
                    }
                    $('.t-body tbody').empty();
                    $('.t-body').html(data);
                     // console.log(JSON.stringify(data));
                     // donnees=JSON.parse(JSON.stringify(data));
                     // console.log(JSON.stringify(data));
                     // dataset=donnees['data'];
                     // header=donnees['header'];
                     // cols=[];
                     // $.each(header, function(index, item) {
                     //     cols.push({ title: item });
                     // });
                    //  $(".t-body").attr('id', rString);
                    // replace with the new table
                    // $(".t-body").html(data);
                    var table = $('.t-body').DataTable({
                        responsive: true
                    });
                    
                //  $(document).on('click', '#add', function(e){
                //         e.preventDefault();
                //         var key=modelname;
                //         if (key=="clientuser") {
                //             key="user"
                //         }
                //         console.log("Adding "+key);
                //         location.href="https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add"

                    //     $.get("https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add", function(data, status){
                    //         if (status=="success") {
                    //             $('.modal-body').html(data);
                    //         }else{
                    //             $('.modal-body').html("Une erreur est survenue lors de la récupération du formulaire d'ajout de "+key+"!");
                    //         }

                    //         $('#exampleModal').modal('show');
                    //     });
                    // });
                   
                //  });
                 
             });
            }
            $(document).on('click', '#add', function(e){
                        var key=modelName;
                        if (key=="clientuser") {
                            key="user";
                        }
                        console.log("Adding "+key);
                        location.href="https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add"

                    //     $.get("https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add", function(data, status){
                    //         if (status=="success") {
                    //             $('.modal-body').html(data);
                    //         }else{
                    //             $('.modal-body').html("Une erreur est survenue lors de la récupération du formulaire d'ajout de "+key+"!");
                    //         }

                    //         $('#exampleModal').modal('show');
                    //     });
                    // });


                    // $("#add").bind('click', function () {
                    //     var key=modelname;
                    //     console.log("Adding "+key);
                    //     $.get("https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add", function(data, status){
                    //         if (status=="success") {
                    //             $('.modal-body').html(data);
                    //         }else{
                    //             $('.modal-body').html("Une erreur est survenue lors de la récupération du formulaire d'ajout de "+key+"!");
                    //         }

                    //         $('#exampleModal').modal('show');
                    //     });
                    // });


                    // $("tr").bind('click', function () {
                    //     var id=$(this).attr('id').split("_")[0];
                    //     var key=$(this).attr('id').split("_")[1];
                    //     $.get("https://damp-sierra-52116.herokuapp.com/"+key+"/"+id+"/?action=edit", function(data, status){
                    //     if (status=="success") {
                    //         $('.modal-body').html(data);
                    //     }else{
                    //         $('.modal-body').html("Une erreur est survenue lors de la récupération du formulaire de modification de "+key+"!");
                    //     }

                    //     $('#exampleModal').modal('show');
                    //     });
                    // });

                 });
                 

            $(document).on('click', '.action', function(e){
                        e.preventDefault();
                        
                        var action=$(this).attr('id').split("_")[0];
                        var id=$(this).attr('id').split("_")[1];
                        var key=$(this).attr('id').split("_")[2];
                        if (key=="clientuser") {
                            key="user";
                        }
                        console.log(action+" "+key+" n°"+id);
                        
                        if (action =='edit') {
                            location.href="https://damp-sierra-52116.herokuapp.com/"+key+"/"+id+"/?action=edit"
                        }else{
                            $.ajax({
                                type: "get",
                                url: "https://damp-sierra-52116.herokuapp.com/"+key+"/"+id+"/?action=delete",
                                success: function (data) {
                                    location.href="https://damp-sierra-52116.herokuapp.com/dash/"
                                }
                            });
                        }

                    
                    });

             update_table("event");
             $("#loadEvent").bind("click", function () {
                 update_table("event")
             });
             $("#loadEglise").bind("click", function () {
                 update_table("eglise")
             });
             $("#loadPretre").bind("click", function () {
                 update_table("pretre")
             });
             $("#loadStats").bind("click", function () {
                 update_table("stats")
             });
             $("#loadDemande").bind("click", function () {
                 update_table("demande")
             });
             $("#loadClient").bind("click", function () {
                 update_table("clientuser")
             });
             $("#loadArchi").bind("click", function () {
                 update_table("archidiocese")
             });
             $("#loadDiocese").bind("click", function () {
                 update_table("diocese")
             });
                     
         </script>
        <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script  type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- <script type="text/javascript" src="https://cdn.datatables.net/s/bs/dt-1.10.10,r-2.0.0/datatables.min.js"></script> -->

        
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
    {% endblock %}
</body>
</html>