{% load component_tags %}
{# Load the tag library #}
{# Load CSS and JavaScript #}
{% load static %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'favicon.ico' %}"/>
  <title>{{appName}} | dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'v2/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'header/header.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'modeltable/modeltable.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'v2/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'v2/css/sb-admin-2.min.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
    
    <script src="{% static 'header/header.js' %}"></script>
    <script src="{% static 'modeltable/modeltable.js' %}"></script>
    <script src="{% static 'v2/vendor/jquery/jquery.min.js' %}"></script>

  <style>
    .chiffre{
font-weight: bolder;
font-size: 3rem;
color: #9E005D;
}
.title-chiffre{
  font-size: 1.5rem;
color: #9E005D;
}

.card{
  background-color: transparent;
  border: 1px solid #9E005D;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover{
  background-color:  #9E005D;
color: white;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.card:hover > .title-chiffre,.card:hover > .chiffre{
color: white;

}
    .modal1 {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal1 {
    overflow: hidden;   
}



  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="https://damp-sierra-52116.herokuapp.com/dash/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-church"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Missam <sup>CI</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="https://damp-sierra-52116.herokuapp.com/dash/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Missam
      </div>

      {% if usertype != "superadmin" %}
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-bible"></i>
          <span>Evènements liturgiques</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="https://damp-sierra-52116.herokuapp.com/event/0/?action=add">Ajouter</a>
            <a class="collapse-item" href="#" id="loadEvent">Gérer les évènements liturgiques</a>
          </div>
        </div>
      </li>
      {% endif %}

      {% if usertype == "superadmin" %}
      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-map-marker-alt"></i>
          <span>Eglises</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="https://damp-sierra-52116.herokuapp.com/eglise/0/?action=add">Ajouter</a>
            <a class="collapse-item" href="#" id="loadEglise">Gérer les églises</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Agglomération
      </div>

      <!-- Nav Item - Diocese Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDioces" aria-expanded="true" aria-controls="collapseDioces">
          <i class="fas fa-fw fa-church"></i>
          <span>Diocèse</span>
        </a>
        <div id="collapseDioces" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="https://damp-sierra-52116.herokuapp.com/diocese/0/?action=add">Ajouter</a>
            <a class="collapse-item" href="#" id="loadDiocese">Gérer les diocèses</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Archidiocèse -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArchi" aria-expanded="true" aria-controls="collapseArchi">
          <i class="fas fa-fw fa-map"></i>
          <span>Archidiocèse</span>
        </a>
        <div id="collapseArchi" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="https://damp-sierra-52116.herokuapp.com/archidiocese/0/?action=add">Ajouter</a>
            <a class="collapse-item" href="#" id="loadArchi">Gérer les archidioceses</a>
          </div>
        </div>
      </li>
      {% endif %}
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Personnes
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePretres" aria-expanded="true" aria-controls="collapsePretres">
          <i class="fas fa-fw fa-praying-hands"></i>
          <span>Prêtres</span>
        </a>
        <div id="collapsePretres" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!--<a class="collapse-item" href="https://damp-sierra-52116.herokuapp.com/pretre/0/?action=add">Ajouter</a>-->
            <a class="collapse-item" href="#" id="loadPretre">Gérer les prêtres</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Archidiocèse -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClients" aria-expanded="true" aria-controls="collapseClients">
          <i class="fas fa-fw fa-pray"></i>
          <span>Utilisateurs</span>
        </a>
        <div id="collapseClients" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="https://damp-sierra-52116.herokuapp.com/clientuser/0/?action=add">Ajouter</a>
            <a class="collapse-item" href="#" id="loadClient">Gérer les utilisateurs</a>
          </div>
        </div>
      </li>


      <!-- Heading -->
      <div class="sidebar-heading">
        Monitoring
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDemandes" aria-expanded="true" aria-controls="collapseDemandes">
          <i class="fas fa-fw fa-cross"></i>
          <span>Demandes de messe</span>
        </a>
        <div id="collapseDemandes" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="https://damp-sierra-52116.herokuapp.com/demande/0/?action=add">Ajouter</a>
            <a class="collapse-item" href="#" id="loadDemande">Gérer vos demandes de messe</a>
          </div>
        </div>
      </li>

      {% if usertype == "superadmin" or usertype == "admin" %}
      <!-- Nav Item - Archidiocèse -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecherches" aria-expanded="true" aria-controls="collapseRecherches">
          <i class="fas fa-fw fa-signal"></i>
          <span>Recherches</span>
        </a>
        <div id="collapseRecherches" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <a class="collapse-item" href="https://damp-sierra-52116.herokuapp.com/stats/0/?action=add">Ajouter</a> -->
            <a class="collapse-item" href="#" id="loadStats">Visualiser</a>
          </div>
        </div>
      </li>
      {% endif %}

      <!-- Nav Item - Tables -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li> -->

      

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <!-- <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"> -->

          <!-- Sidebar Toggle (Topbar) -->
          <!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button> -->
        <!-- </nav> -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container" style="padding-top: 20px;">

          <!-- Page Heading -->
          {% component name="header" lastname=lastname firstname=firstname username=username eglisename=eglisename usertype=usertype %}
          {% if key == 'accueil' %}
          <div style="height: 20px; width: 100%;"></div>

          <div class="row justify-content-center" style="margin-bottom: 15px;">
            {% if usertype == 'superadmin' %}
            <div class="col-md-2 card" style="margin: 2px;">
                <p class="title-chiffre" style="text-align: center; ">Paroisses partenaires</p>
                <p class="chiffre" style="text-align: center; ">{{ nb_par }}</p>
                <script>    console.log('Nombre de paroisses: {{nb_par}}');
                </script>
            </div>
            {% endif %}
            <div class="col-md-2 card" style="margin: 2px;">
                <p class="title-chiffre" style="text-align: center; ">Demandes de messe</p>
                <p class="chiffre" style="text-align: center; ">{{ nb_dm }}</p>
            </div>
            <div class="col-md-2 card" style="margin: 2px;">
                <p class="title-chiffre" style="text-align: center; ">Demandes de messe actives</p>
                <p class="chiffre" style="text-align: center; ">{{ nb_dm_active }}</p>
            </div>
            <div class="col-md-2 card" style="margin: 2px;">
                <p class="title-chiffre" style="text-align: center; ">Montant encaissé</p>
                <p class="chiffre" style="text-align: center; ">{{ dm_paid }}</p>
            </div>
            <div class="col-md-2 card" style="margin: 2px;">
                <p class="title-chiffre" style="text-align: center; ">Remboursement</p>
                <p class="chiffre" style="text-align: center; ">{{ dm_unpaid }}</p>
            </div>
        </div>
        <hr/>
        {% else %}
        <div style="height: 40px; width: 100%;"></div>

        {% endif %}
          {% component name="modeltable" tablename="event" %}


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Missam 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <div class="modal1"><!-- Place at bottom of page --></div>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Souhaiteriez-vous vraiment vous déconnecter?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Sélectionnez "Déconnecter" en bas si vous êtes prêt à mettre fin à votre session courante.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
        <button class="btn btn-primary" id="disconnect">Déconnecter</button>
      </div>
    </div>
  </div>
</div>

<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: transparent;">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body profile-card-1" >
          <img src="https://www.france-catholique.fr/local/cache-vignettes/L900xH600/ostension_saint_sacrement-83baa.jpg?w=500&h=650&auto=compress&cs=tinysrgb" alt="profile-sample1" class="background"/>
          <img src="{% static 'logo.png' %}" alt="profile-image" class="profile"/>
          <div class="card-content">
              <h2>{{firstname}} {{lastname}}<small>{{username}}</small></h3>
              <h5><small>{{usertype}}</small></h5>
              <h4><strong>{{eglisname}}</strong></h4>
              <div class="icon-block">
                  <a href="javascript:void(0)" id="editProfile">
                      <i class='fas fa-pencil-alt'></i>
                  </a>
              </div>
          </div>
          <!-- <button type="button" style="position: absolute; bottom: 10px; right: 10px;" id="editProfile" ><i class='fas fa-pencil-alt'></i></button> -->
      </div>
    </div>
  </div>
</div>

  <!-- Logout Modal-->
  <!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Bootstrap core JavaScript-->
  {% block javascript %}
  <script src="{% static 'v2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'v2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'v2/js/sb-admin-2.min.js' %}"></script>
  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" crossorigin="anonymous"></script> -->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js "></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js "></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script>
    // console.log('{{nb_par}}');
    //loader for ajax query
    $body = $("body");

    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
        ajaxComplete: function() { $body.removeClass("loading"); }    
    });
    //end loader script


    var modelName="";
    function randomString(length, chars) {
        var result = '';
        for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
        return result;
    }
 
    //dynamic content binding script 
    function update_table(modelname) {
        modelName=modelname;
         console.log(modelname); // sanity check
         var rString = randomString(32, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
         console.log(rString);
         var usertype="{{usertype}}";
         if (usertype=="superadmin") {
             eglisename="all"
         } else {
            eglisename="{{eglisename}}"
         }
        
         $.get("https://damp-sierra-52116.herokuapp.com/updatetable/?modelname=" + modelname+"&usertype={{usertype}}&eglise="+eglisename, function(data, status){
             // alert("Data: " + data + "\nStatus: " + status);
            //  $('.t-body').DataTable().fnDestroy();
            if ($.fn.DataTable.isDataTable('.t-body')) {
                $('.t-body').DataTable().destroy();
            }
            $('.t-body tbody').empty();
            $('.t-body').html(data);
             // console.log(JSON.stringify(data));
             // donnees=JSON.parse(JSON.stringify(data));
             // console.log(JSON.stringify(data));
             // dataset=donnees['data'];
             // header=donnees['header'];
             // cols=[];
             // $.each(header, function(index, item) {
             //     cols.push({ title: item });
             // });
            //  $(".t-body").attr('id', rString);
            // replace with the new table
            // $(".t-body").html(data);
            var table = $('.t-body').DataTable({
                responsive: true
            });
            
        //  $(document).on('click', '#add', function(e){
        //         e.preventDefault();
        //         var key=modelname;
        //         if (key=="clientuser") {
        //             key="user"
        //         }
        //         console.log("Adding "+key);
        //         location.href="https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add"

            //     $.get("https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add", function(data, status){
            //         if (status=="success") {
            //             $('.modal-body').html(data);
            //         }else{
            //             $('.modal-body').html("Une erreur est survenue lors de la récupération du formulaire d'ajout de "+key+"!");
            //         }

            //         $('#exampleModal').modal('show');
            //     });
            // });
           
        //  });
         
     });
    }
    //end dynamic content binding script 
    // $(document).on('click', '#add', function(e){
    //             var key=modelName;
    //             if (key=="clientuser") {
    //                 key="user";
    //             }
    //             console.log("Adding "+key);
    //             location.href="https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add"

    //         //     $.get("https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add", function(data, status){
    //         //         if (status=="success") {
    //         //             $('.modal-body').html(data);
    //         //         }else{
    //         //             $('.modal-body').html("Une erreur est survenue lors de la récupération du formulaire d'ajout de "+key+"!");
    //         //         }

    //         //         $('#exampleModal').modal('show');
    //         //     });
    //         // });


    //         // $("#add").bind('click', function () {
    //         //     var key=modelname;
    //         //     console.log("Adding "+key);
    //         //     $.get("https://damp-sierra-52116.herokuapp.com/"+key+"/0/?action=add", function(data, status){
    //         //         if (status=="success") {
    //         //             $('.modal-body').html(data);
    //         //         }else{
    //         //             $('.modal-body').html("Une erreur est survenue lors de la récupération du formulaire d'ajout de "+key+"!");
    //         //         }

    //         //         $('#exampleModal').modal('show');
    //         //     });
    //         // });


    //         // $("tr").bind('click', function () {
    //         //     var id=$(this).attr('id').split("_")[0];
    //         //     var key=$(this).attr('id').split("_")[1];
    //         //     $.get("https://damp-sierra-52116.herokuapp.com/"+key+"/"+id+"/?action=edit", function(data, status){
    //         //     if (status=="success") {
    //         //         $('.modal-body').html(data);
    //         //     }else{
    //         //         $('.modal-body').html("Une erreur est survenue lors de la récupération du formulaire de modification de "+key+"!");
    //         //     }

    //         //     $('#exampleModal').modal('show');
    //         //     });
    //         // });

    //      });
         

    $(document).on('click', '.action', function(e){
                e.preventDefault();
                
                var action=$(this).attr('id').split("_")[0];
                var id=$(this).attr('id').split("_")[1];
                var key=$(this).attr('id').split("_")[2];
                if (key=="clientuser") {
                    key="user";
                }
                console.log(action+" "+key+" n°"+id);
                
                if (action =='edit') {
                    location.href="https://damp-sierra-52116.herokuapp.com/"+key+"/"+id+"/?action=edit"
                }else{
                    $.ajax({
                        type: "get",
                        url: "https://damp-sierra-52116.herokuapp.com/"+key+"/"+id+"/?action=delete",
                        success: function (data) {
                            location.href="https://damp-sierra-52116.herokuapp.com/dash/"
                        }
                    });
                }

            
            });

     $("#loadEvent").bind("click", function () {
         update_table("event")
     });
     $("#loadEglise").bind("click", function () {
         update_table("eglise")
     });
     $("#loadPretre").bind("click", function () {
         update_table("pretre")
     });
     $("#loadStats").bind("click", function () {
         update_table("stats")
     });
     $("#loadDemande").bind("click", function () {
         update_table("demande")
     });
     $("#loadClient").bind("click", function () {
         update_table("clientuser")
     });
     $("#loadArchi").bind("click", function () {
         update_table("archidiocese")
     });
     $("#loadDiocese").bind("click", function () {
         update_table("diocese")
     });
     $("#loadAccueil").bind("click", function () {
         update_table("accueil")
     });
         
     
     
    function gotoindex() {
        location.href="https://damp-sierra-52116.herokuapp.com/"
    }
    function getCookie(name)
    {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?

                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function createCookie(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
            var expires = "; expires=" + date.toGMTString();
        } else {
            var expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') {
                c = c.substring(1,c.length);
            }
            if (c.indexOf(nameEQ) == 0) {
                return c.substring(nameEQ.length,c.length);
            }
        }
        return null;
    }
    
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }
    $("#showProfile").bind('click', function(){
        console.log('showprofile clicked');
        $('#profileModal').modal('show');
    });

    $("#editProfile").bind('click', function(){
        console.log('editprofile clicked');
        alert("Service indisponible pour le moment!")
    });

    $("#disconnect").bind('click', function(){
        eraseCookie("user");
        console.log(document.cookie);
        gotoindex();
    });
  </script>
  {% if usertype != "superadmin" %}
  <script>
    update_table("accueil");
  </script>
  {% else %}
  <script>
    update_table("accueil");
  </script>
  {% endif %}
  {% endblock %}
</body>

</html>
